<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/agregarstyles.css">
    <link rel="stylesheet" href="../css/viejostyles2.css">
    <link rel="stylesheet" href="../css/esencialstyles.css">
    <title>Detalle</title>
</head>
<article class="card">
    <div class="card-left">
        <figure><center><img src="/images/groups/<%= group.image ? group.image : 'default.png' %>" alt=""></center></figure>
        <h3>#<%= group.id %></h3>
    </div>
    <div class="card-content">
        <h3><%= group.nombre %></h3>
        <p>Categoría: <%= group.categoria %></p>
        <div>
            <a class="button" href="/groups/<%= group.id %>">Ver detalle</a>
        </div>
    </div>   
</article>